body{
    background-color: #114A75;
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
}